<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sukabumikota.sipajarsurveyor">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".survey.RiwayatSurveyActivity"></activity>
        <activity android:name=".survey.UploadActivity" />
        <activity android:name=".maps.MapsActivity" />
        <activity android:name=".profile.EditProfileActivity" />
        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".dialog.InternetDialogActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".auth.LoginActivity" />
        <activity android:name=".log.rvlog" />
        <activity
            android:name=".log.LogActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".wajibpajak.rvwp" />
        <activity android:name=".wajibpajak.WPDetail" />
        <activity android:name=".wajibpajak.WPActivity" />
        <activity android:name=".objekpajak.rvop" />
        <activity android:name=".objekpajak.OPDetail" />
        <activity android:name=".objekpajak.OPActivity" />
        <activity android:name=".survey.Pilihan" />
        <activity android:name=".survey.rvsurvey" />
        <activity android:name=".survey.SurveyDetail" />
        <activity android:name=".survey.SurveyActivity" />
        <activity android:name=".bantuan.bantuan" />
        <activity
            android:name=".Welcome"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>